/* variables */
:root {
    --color-primary: #ff6464;
    --color-secondary: #081646;
    --color-tertiary: #00ba59;
    --color-quaternary: #ffcf55;
    --color-quaternary__dark: #fab70d;
    --color-dark: #333333;
    --color-light: #fbf9f0;
    --color-white: #ffffff;
}

/* base reset */
html,
body {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5;
    overflow-x: clip;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
*:before,
*:afeter{
    box-sizing: inherit;
}
p{
    color: var(--color_dark);
    line-height: 1.5;
    width: 100%;
}
a{
    text-decoration: none;
}

/* Tipography utilitieis */
.font-baloo{
    font-family: 'Baloo 2', cursive;
}
.font-w-400{
    font-weight: 400;
}
.font-w-500{
    font-weight: 500;
}
.font-w-600{
    font-weight: 600;
}
.font-w-700{
    font-weight: 700;
}
.font-w-800{
    font-weight: 800;
}
.font-w-900{
    font-weight: 900;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
 /* Layout Utilities */
 .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
 }
 .flex{
    display: flex;
 }
 .wrap{
    flex-wrap: wrap;
 }
 .flex-col{
    flex-direction: column;
 }
 .flex-row{
    flex-direction: row;
 }
 .flex-none{
    flex: none;
 }
 .items-center{
    align-items: center;
 }
 .justify-between{
    justify-content: space-between;
 }
 .justify-center{
    justify-content: center;
 }
 .justify-end{
    justify-content: flex-end;
 }
 .justify-start{
    justify-content: flex-start;
 }
 .flex-cols-3{
    flex: 1 1 calc(33.333% - 4rem);
    max-width: 33.33%;
 }
 .flex-cols-2{
    flex: 1 1 calc(50% - 4rem);
    max-width: 50%;
 }
 .gap-0-5{
    gap: 0.5rem;
 }
 .gap-1{
    gap: 1rem;
 }
 .gap-2{
    gap: 2rem;
 }
 .gap-3{
    gap: 3rem;
 }
 .gap-4{
    gap: 4rem;
 }
 .gap-5{
    gap: 5rem;
 }
 .flex-1{
    flex: 1;
 }
 .transition{
    transition: all .3s ease-in-out;
 }

 /* Misc utilities*/

 .rouded-full{
    border-radius: 100%;
 }
 .cover{
    object-fit: cover;
 }
 .contain{
    object-fit: contain;
 }
 .relative{
    position: relative;
 }
 .menu-trigger{
    display: none;
 }
 
 /* Text size and more*/
.text-xs{
    font-size: 1.2rem;
}
.text-sm{
    font-size: 1.4rem;
}
.text-md{
    font-size: 1.6rem;
}
.text-lg{
    font-size: 1.8rem;
}
.text-xl{
    font-size: 2rem;
}
.text-2xl{
    font-size: 2.4rem;
}
.text-3xl{
    font-size: 3.2rem;
    line-height: 1.3;
}
.text-4xl{
    font-size: 4rem;
    line-height: 1.3;
}
.text-5xl{
    font-size: 5.2rem;
    line-height: 1.3;
}
.text-6xl{
    font-size: 6.4rem;
    line-height: 1.3;
}
.text-white{
    color: var(--color-white);
}
.text-primary{
    color: var(--color-primary);
}
.text-center{
    text-align: center;
}

/* Buttons */
.butto n{
    display: inline-flex;
    padding: 1.6rem 3.2rem;
    transition:  all .3s ease-in-out;
    font-weight: 600;
    border-radius: 1.2rem;
    border: .1rem solid transparent;
    white-space: nowrap;
}
.button__transparent{
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
}
.button__transparent:hover{
    background-color: var(--color-white);
}
/* Header*/
.header{
    background-color: var(--color-light);
    padding: 1.4rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo__link img{
    width: 124px;
    height: 124px;
    object-fit: contain;
}
.navigation__list{
    list-style: none;
}
.navigation__list li{
    display: inline-block;
}
.navigation__list a{
    color: var(--color-dark);
}
.navigation__list a:hover{
    text-decoration: underline;
}

