/* variables */
:root {
    --color-primary: #ff6464;
    --color-secondary: #081646;
    --color-tertiary: #00ba59;
    --color-tertiary__dark: #006b36;
    --color-quaternary: #ffcf55;
    --color-quaternary__dark: #fab70d;
    --color-dark: #333333;
    --color-light: #fbf9f0;
    --color-white: #ffffff;
}

/* base reset */
html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5;
    overflow-x: clip;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

*:before,
*:after {
    box-sizing: inherit;
}

p {
    color: var(--color_dark);
    line-height: 1.5;
    width: 100%;
}

a {
    text-decoration: none;
}

/* Tipography utilitieis */
.font-baloo {
    font-family: 'Baloo 2', cursive;
}

.font-w-400 {
    font-weight: 400;
}

.font-w-500 {
    font-weight: 500;
}

.font-w-600 {
    font-weight: 600;
}

.font-w-700 {
    font-weight: 700;
}

.font-w-800 {
    font-weight: 800;
}

.font-w-900 {
    font-weight: 900;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

/* Layout Utilities */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-none {
    flex: none;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.flex-cols-3 {
    flex: 1 1 calc(33.333% - 4rem);
    max-width: 33.33%;
}

.flex-cols-2 {
    flex: 1 1 calc(50% - 4rem);
    max-width: 50%;
}

.gap-0-5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.flex-1 {
    flex: 1;
}

.transition {
    transition: all .3s ease-in-out;
}

/* Misc utilities*/

.rouded-full {
    border-radius: 100%;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.relative {
    position: relative;
}

.menu-trigger {
    display: none;
}

.size-100 {
    width: 100%;
    height: 100%;
}

/* Text size and more*/
.text-xs {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.4rem;
}

.text-md {
    font-size: 1.6rem;
}

.text-lg {
    font-size: 1.8rem;
}

.text-xl {
    font-size: 2rem;
}

.text-2xl {
    font-size: 2.4rem;
}

.text-3xl {
    font-size: 3.2rem;
    line-height: 1.3;
}

.text-4xl {
    font-size: 4rem;
    line-height: 1.3;
}

.text-5xl {
    font-size: 5.2rem;
    line-height: 1.3;
}

.text-6xl {
    font-size: 6.4rem;
    line-height: 1.3;
}

.text-white {
    color: var(--color-white);
}

.text-primary {
    color: var(--color-primary);
}

.text-center {
    text-align: center;
}

/*Section Title*/
.section__title{
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
}
.section__title .section__title__eyebrow{
    font-family: 'Baloo 2', cursive;
    display: block;
    font-weight: 400;
}
.section__title .section__title__title{
    font-size: 100%;
}

/* Buttons */
.button {
    display: inline-flex;
    padding: 1.6rem 3.2rem;
    transition: all .3s ease-in-out;
    font-weight: 600;
    border-radius: 1.2rem;
    border: .1rem solid transparent;
    white-space: nowrap;
}

.button__transparent {
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.button__transparent:hover {
    background-color: var(--color-white);
}

.button__transparent__revert {
    background-color: var(--color-white);
}

.button__transparent__revert:hover {
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.button__primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.button__tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-white);
}

.button__tertiary:hover {
    background-color: var(--collo-tertiary__dark);
    color: var(--color-white);
}

.button__has-icon {
    align-items: center;
    gap: 0.5rem;
}

.button__has-icon .button__icon {
    width: 1.8rem;
    height: 1.8rem;
}

.button__has-icon .button__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button__text {
    padding: 1rem 0;
    margin-top: 0.5rem;
    color: var(--color-dark);
}

.button__text:hover {
    text-decoration: underline;
}

.button__gradient__wrapper {
    position: relative;
    background-color: var(--color-white);
    padding: 0.3rem;
    border-radius: 3rem;
    z-index: 0;
}

.button__gradient__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.2rem;
    background: linear-gradient(45deg,
            var(--color-primary),
            var(--color-quaternary__dark),
            transparent,
            purple,
            var(--color-tertiary),
            #8000ff,
            var(--color-quaternary),
            transparent,
            magenta);
    background-size: 300%;
    /* Todo: animation */
    animation: gradient-button 3s linear infinite;
    z-index: -1;
}

.button__gradient {
    background-color: white;
    color: var(--color-dark);
    display: block;
    border-radius: 1.1rem;
}

/* margin & paddings */
.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-top-5 {
    margin-top: 5rem;
}

.margin-top-6 {
    margin-top: 6rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-3 {
    margin-bottom: 3rem;
}

.margin-bottom-4 {
    margin-bottom: 4rem;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.margin-bottom-6 {
    margin-bottom: 6rem;
}

.margin-left-1 {
    margin-left: 1rem;
}

.margin-left-2 {
    margin-left: 2rem;
}

.margin-left-3 {
    margin-left: 3rem;
}

.margin-left-4 {
    margin-left: 4rem;
}

.margin-left-5 {
    margin-left: 5rem;
}

.margin-left-6 {
    margin-left: 6rem;
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.margin-right-3 {
    margin-right: 3rem;
}

.margin-right-4 {
    margin-right: 4rem;
}

.margin-right-5 {
    margin-right: 5rem;
}

.margin-right-6 {
    margin-right: 6rem;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-3 {
    padding: 3rem;
}

.padding-4 {
    padding: 4rem;
}

.padding-top-1 {
    padding-top: 1rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.padding-top-3 {
    padding-top: 3rem;
}

.padding-top-4 {
    padding-top: 4rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.padding-bottom-2 {
    padding-bottom: 2rem;
}

.padding-bottom-3 {
    padding-bottom: 3rem;
}

.padding-bottom-4 {
    padding-bottom: 4rem;
}

.padding-left-1 {
    padding-left: 1rem;
}

.padding-left-2 {
    padding-left: 2rem;
}

.padding-left-3 {
    padding-left: 3rem;
}

.padding-left-4 {
    padding-left: 4rem;
}

.padding-right-1 {
    padding-right: 1rem;
}

.padding-right-2 {
    padding-right: 2rem;
}

.padding-right-3 {
    padding-right: 3rem;
}

.padding-right-4 {
    padding-right: 4rem;
}

@keyframes move-left {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes move-around-left {
    0%{
        transform: rotate(0deg) translateX(30px) rotate(0de);
    }
    100%{
        transform: rotate(-360deg) translateX(30px) rotate(360deg);
    }
}
@keyframes move-around-right {
    0%{
        transform: rotate(0deg) translateX(30px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(30px) rotate(-360deg);
    }
}
@keyframes gradient-button {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.move-around-left__20s{
    animation: move-around-left 20s linear infinite;
}
.move-around-left__10s{
    animation: move-around-left 10s linear infinite;
}
.move-around-right__10s{
    animation: move-around-right 10s linear infinite;
}
.move-left__30s{
    animation: move-left 30s linear infinite;
}

/* Header*/
.header {
    background-color: var(--color-light);
    padding: 1.4rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo__link img {
    width: 124px;
    height: 124px;
    object-fit: contain;
}

.navigation__list {
    list-style: none;
}

.navigation__list li {
    display: inline-block;
}

.navigation__list a {
    color: var(--color-dark);
}

.navigation__list a:hover {
    text-decoration: underline;
}

/* Hero */
.hero{
    background-color: var(--color-light);
    padding-top: 15rem;
    padding-bottom: 15ewm;
    padding-bottom: 10rem;
    z-index: 0;
}
.hero__image img{
    width: 548px;
    height: 582px;
    object-fit: cntain;
}
.hero-shape{
    position: absolute;
    top: 0;
    right: 0;
    width: 462px;
    height: 466px;
    transition: all .3s ease-in-out;
    z-index: -1;
}
.hero-plane{
    position: absolute;
    top: 29rem;
    left: 53%;
    width: 69px;
    height: 57px;
    z-index: -1;
}
.hero-sparkle{
    position: absolute;
    top: 59rem;
    left: 48%;
    width: 45px;
    height: 45px;
    z-index: -1;
}
.hero-star{
    position: absolute;
    bottom: 19rem;
    right: 9rem;
    width: 69px;
    height: 66px;
    z-index: -1;
}
.hero__stats__item .icon{
    width: 42px;
    height: 38px;
}

/* Tape*/
.tape{
    background-color: var(--color-primary);
    padding-top: 4rem;
    padding-bottom: 14rem;
    border-radius: 10rem 10rem 0 0;
    overflow-x: clip;
}
.tape__content{
    mask-image: linear-gradient(
        to right, 
        transparent, 
        black 15%, 
        black 85%, 
        transparent
        );
}
.tape__item__image{
    width: 25px;
    height: 25px;
}
.tape__item__title{
    letter-spacing: 0.1rem;
}

/* Welcome*/

.welcome{
    padding: 7rem 0;
    border-radius: 10rem 10rem 0 0;
    background-color: var(--color-quaternary);
    margin-top: -10rem;
    overflow-x: clip;
}
.welcome__image{
    height: 335px;
    width: 273px;
    z-index: 0;
}
.welcome__image img{
    border-radius: 3rem;
}
.welcome__image__shape{
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-color: var(--color-white);
    opacity: 0.32;
    border-radius: 3rem;
    z-index: -1;
    transform: rotate(8deg);
}
.welcome__text{
    background-color: var(--color-quaternary__dark);
    border-radius: 3rem;
}
.welcome__text__content{
    max-width: 820px;
}
.welcome__shape__bolt{
    position: absolute;
    top:-30px;
    right: -30px;
    width: 80px;
    height: 90px;
}